body {
    top: 0;
    height: 100%;
    background-color:rgba(136, 136, 206, 0.7);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

.container {
    max-width: 720px;
    width: 100%;
    margin: 3.125rem auto 0 auto;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}
.text-center {
    text-align: center;
}
.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}
form {
    background-color: darkslateblue;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    padding: 2.5rem;;
}
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: block;
}
.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group {
    margin: 0 auto 0.75rem auto;
    padding: 0.25rem;
}
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
.input-textarea {
    min-height: 120px;
    width: 100%;
    resize: vertical;
}
p {
    font-size: 1.125rem;
}
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color:green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}
button {
    border: none;
}